# Sprawozdanie
## Laboratorium 2
Przeprowadzono formatowanie danych odnośnie zachorowań na gruźlicę w danych latach w danych grupach wiekowych.
Rozpoczęto od pobrania danych do klasy pandas.DataFrame z użyciem funkcji pandas.read_csv()

In [2]:
import pandas as pd
df = pd.read_csv("../sourceData/tb.csv")

Następnie dokonano przekształceń danych, zastąpiono wartości NaN wartością 0

In [3]:
df_nonans = df.fillna(0)

Potem dokonano przekształceń i sprawiono by poszczególny wiersz reprezentował pomiar dla pojedynczej grupy wiekowej danej płci. W przypadku pomiarów z kategorii bez podenaj płci/wieku wstawiono wartość '-'. Otrzymano następujący format (poniżej można zobaczyć pierwsze pięć wierszy)

In [6]:
df2 = pd.read_csv("../modifiedData/tidy.csv")
df2.head(5)

   Unnamed: 0 iso2  year  cases sex age
0           0   AD  1989    0.0   -   -
1           1   AD  1990    0.0   -   -
2           2   AD  1991    0.0   -   -
3           3   AD  1992    0.0   -   -
4           4   AD  1993   15.0   -   -